@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
  height: 6px;
  /* Height of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #131314;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners */
  border: 3px solid #1b1b20;
  /* Space around the thumb */
  background-clip: content-box;
  /* Clip the background to the content box */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #131314;
  /* Color of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners */
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
  background: #131314;
  /* Color of the scrollbar corner */
}